.chess{
 width: 650px; height:600px;
  border-style:solid; 
 font-size:30px; line-height:2.5; 
 text-align:center;}

.chess>div{height:11.11%;}

.chess>div>div{
 width:11.11%; height:100%;
 display:inline-block; vertical-align:top;}

.chess>div:nth-child(odd)>div:nth-child(even),
.chess>div:nth-child(even)>div:nth-child(odd)
 {background-color:black; color:Gainsboro;}

.chess>div:nth-child(1),.chess>div>div:nth-child(1)
 {background-color:black; color:Gainsboro; }
